*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fa-solid{
    cursor: pointer;
}
.fa-square-plus {
    font-size: 52px;
    color: rgb(68, 98, 199);
    margin-left: 15px;
    cursor: pointer;
}


.fa-pen-to-square{
    color: greenyellow;
}

.fa-trash{
    color: rgb(214, 24, 24);
}


#text{
    padding: 5px 0px;
    display: flex;
    gap: 20px;
}

button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        color: white;
        background-color: rgb(68, 98, 199);
    }
}


.completed {
    text-decoration: line-through;
   
  }








