*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
}

#extraStyle{
    padding-top: 50px;
}

.fa-solid{
    cursor: pointer;
}

.fa-square-plus {
    font-size: 52px;
    color: rgb(68, 98, 199);
    margin-left: 15px;
    cursor: pointer;
}

.fa-pen-to-square{
    color: greenyellow;
}

.fa-trash{
    color: rgb(214, 24, 24);
}

#text{
    padding: 5px 0px;
    display: flex;
    gap: 20px;
}

button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        color: white;
        background-color: rgb(68, 98, 199);
    }
}

.completed {
    text-decoration: line-through;
   
}

img {
    width: 80px;
    height: 90px;


    @media only screen and (max-width: 500px) {
    width: 44px;  
    height: 60px;
}
    
}


hr {
    width: 90%;
    border-radius: 15px;
    border: 5px solid rgb(68, 98, 199);
}








